NODE_ENV='production'



API_URL="http://localhost/api"
CDN_URL="http://localhost:8080/uploads"
UPLOAD_PATH="./cdn-data/uploads"
CDN_PORT=8080
DB_HOST="db"
DB_PORT=5432
DB_USER="postgres"
DB_PASS="DB_PASSWORD"
DB_NAME="postgres"
APP_PORT=80