NEXTAUTH_SECRET="AUTH_SECRET"
APP_SECRET_KEY="APP_SECRET"
SALT_SECRET='SECRET'
APP_PORT=80
CDN_PORT=8080
# DEBUG_OPTION=TRUE # TRUE | FALSE

API_URL="http://localhost/api"
DB_HOST="postgres-db"
DB_PORT=5433
DB_USER="postgres"
DB_PASS="DB_PASSWORD"
DB_NAME="postgres"