@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ffa700;
  --color-primary-content: #4e3300;
}